[submodule "projects/elevations"]
	path = projects/elevations
	url = https://github.com/mrkpvlvski/elevations
[submodule "projects/insult-generator"]
	path = projects/insult-generator
	url = https://github.com/mrkpvlvski/insult-generator
[submodule "projects/platonic-solids"]
	path = projects/platonic-solids
	url = https://github.com/mrkpvlvski/platonic-solids
[submodule "projects/snaky-snake"]
	path = projects/snaky-snake
	url = https://github.com/mrkpvlvski/snaky-snake
